{% extends "base.html" %}

{% block page_css %}
<link href="/static/styles/app.css" rel="stylesheet"/>
{% endblock %}

{% block page_name %}app{% endblock %}

{% block page_scripts %}
<script src="/static/js/lib/backbone.js"></script>
<script src="/static/js/lib/backbone.marionette.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}

{% block inner_content %}

    <div id="frame">

        <header></header>

        <div class="body-wrapper">
            <div id="body">
                <nav class="main-nav">
                    <a class="tab active" data-panel-trigger="exercise-panel">Exercises</a>
                    <a class="tab" data-panel-trigger="stats-panel">Stats</a>
                    <div class="active-indicator"></div>
                </nav>
                <div class="panels">
                    <div class="panel-wrapper">
                        <div class="panel exercise-panel"></div>
                        <div class="panel stats-panel"></div>
                    </div>
                </div>
            </div>
             <div id="modal">
                 <div class="close"><i class="icon-left-open"></i></div>
                 <div class="modal-body"></div>
             </div>
        </div>



     </div>

    {% include "errors.html" %}

    <!-- 
    <div id="ql-overlay" class="mask cancel">
        <div class="overlay">
            <form class="deposit-form" method="post" action="/user/{{user._id}}/deposit">
            <header>Quick Log
                <span class="ss-icon icon-cancel cancel"></span>
            </header>
            <section>
                <p>Quickly log some exercise you don't normally do.</p>
                <input type="hidden" name="name" value="__QL__" /> 
                <label>Value</label>
                <input type="tel" name="amount" placeholder="e.g. 20" /> 
            </section>
            <footer>
                <button class="primary-btn wide">Log</button>
            </footer>
            </form>
        </div>
    </div>
    -->

    <script id="context">
        window.Context = {{ app_context|safe }};
    </script>

    {% include 'js-templates.html' %}

{% endblock %}

