<!doctype html>
<html>
    <head>
        <title>Excercredit</title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        {% block css %}
        <link href="/static/styles/base.css" rel="stylesheet"></link>
        {% endblock %}
    </head>
    <body>
        <script id="bus"></script>

        {% block outer_content %}
            <section id="content">
            {% block inner_content %}
            {% endblock %}
            </section>
        {% endblock %}

        {% block base_scripts %}
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
         
        <script src="/static/js/base.js"></script>
        {% endblock %}

        {% block page_scripts %}{% endblock %}
    </body>
</html>
