<!doctype html>
<html>
    <head>
        <title>Exercredit</title>
        <meta name=viewport content="width=device-width, initial-scale=1 user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png" />
        <link rel="-icon" href="/static/images/apple-touch-icon.png" />
        <link rel="-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png" />
        <link rel="-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png" />
        <link rel="-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png" />
        <link rel="-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png" />
        <link rel="-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png" />
        <link rel="-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png" />
        <link rel="-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png" />
        {% block css %}
        <link href="/static/styles/base.css" rel="stylesheet"></link>
        {% endblock %}
        {% block page_css %}{% endblock %}
    </head>
    <body id="page-{% block page_name %}{% endblock %}">
        {% block outer_content %}
            <section id="content">
            {% block inner_content %}
            {% endblock %}
            </section>
        {% endblock %}

        {% block base_scripts %}
        <script src="/static/js/lib/jquery-2.1.1.js"></script>
        <script src="/static/js/lib/underscore.js"></script>
         
        <script src="/static/js/base.js"></script>
        {% endblock %}

        {% block page_scripts %}{% endblock %}
    </body>
</html>
