{% extends 'base.html' %}

{% block page_name %}delete{% page_name %}

{% block inner_content %}

<div id="delete-page">

    <h3>Really Delete?</h3>
    <p>Clicking "Delete" will delete all your data. It is irreversable and permanent.</p>
    <p>We'll be sorry to see you go. But we understand. Some people don't have the willpower to carry on.</p>

    <div class="delete-form-wrapper">
        <form method="post">
            <input type="hidden" value="1" name="confirmed" />
            <button class="delete-btn">Delete My Account!</button>
        </form>
        <a class="button cancel-btn" href="/user/{{ user._id }}/exercises">Cancel</a>
    </div>

</div>
{% endblock %}
