{% extends "base.html" %}

{% block inner_content %}

    {% if user.exercises %}
    <section class="stats">

        <section class="balance {% if user.balance > 0 %}positive{% else %}negative{% endif %}">
            <label>Balance</label>
            <p><span class="balance-amount">{{ user.balance }}</span> <span class="small">pts</span></p>
        </section>

        <section class="streak">
            <label>Current Streak</label>
            <p>{{ user.streak }} <span class="small">days</span></p>
        </section>

        <section class="longest_streak wide">
            <label>Longest Streak</label>
            <p>{{ user.longest_streak }} <span class="small">days</span></p>
        </section>

    </section>
    {% endif %}

    <section class="table-container" >
        <section class="table ex-table">

            <header>
                <div class="cell description">description</div>
                <div class="cell value">log</div>
            </header>

            <section class="table-body">
                {% for exercise in user.exercises %}
                <div class="display-row">
                    <div class="cell description">
                        {{ exercise.name }}
                        <button 
                            class="edit-exercise link"
                            data-quantity="{{ exercise.quantity }}"
                            data-name="{{ exercise.name }}"
                            data-value="{{ exercise.value }}"
                            >
                            <i class="icon-pencil"></i>
                        </button>
                    </div>
                    <div class="cell value">
                        <form class="deposit-form" method="post" action="/user/{{user._id}}/deposit/{{exercise.value}}">
                            <button class="deposit ready">
                                {{ exercise.value }}
                                <i class="ready icon-ok"></i>
                                <i class="waiting icon-spinner2 animate-spin"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </section>
            <footer {% if not user.exercises %} class="open" {% endif %}>
                <div class="add-btn-row">
                    <div class="cell">&nbsp;</div>
                    <div class="cell">
                        <button class="primary-btn add-btn">New Exercise</button>
                    </div>
                </div>
                <form id="add-form" method="post">
                    <div class="cell">
                        <label>Description</label>
                        <input name="name" type="text" placeholder="e.g. 25 Pull-ups" />
                    </div>
                    <div class="cell">
                        <label>Value</label>
                        <div>
                            <input name="value" type="text" placeholder="e.g 20" />
                            <button class="primary-btn">Add</button>
                        </div>
                    </div>
                </form>
            </footer>
        </section>
    </section>

    <div id="overlay" class="exercise-overlay mask cancel">
        <div class="overlay">
            <header></header>
            <section></section>
            <footer></footer>
        </div>
    </div>

    <script type="text/html" id="edit-overlay-header-tpl">
        Edit <%= name %>
        <span class="ss-icon icon-cancel cancel"></span>
    </script>

    <script type="text/html" id="create-overlay-header-tpl">
        Add Exercise
        <span class="ss-icon icon-cancel cancel"></span>
    </script>

    <script type="text/html" id="overlay-content-tpl">
        <form>
            <label>Quantity</label>
            <input type="tel" placeholder="e.g. 25" value="<%= quantity %>" />
            <label>Description</label>
            <input type="text" placeholder="e.g. Pull ups" value="<%= name %>" />
            <label>Value</label>
            <input type="tel" placeholder="e.g. 20" value="<%= value %>" />
        </form>
    </script>

    <script type="text/html" id="edit-overlay-footer-tpl">
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </script>

    <script type="text/html" id="create-overlay-footer-tpl">
        <button class="save wide">Save</button>
    </script>

{% endblock %}

{% block page_scripts %}

    <script>

        (function() {

            var overlay = new Overlay({mask: '#overlay'});

            var contentTpl = getTemplate('#overlay-content-tpl');
            var editHeaderTpl = getTemplate('#edit-overlay-header-tpl');
            var editFooterTpl = getTemplate('#edit-overlay-footer-tpl');

            var createHeaderTpl = getTemplate('#create-overlay-header-tpl');
            var createFooterTpl = getTemplate('#create-overlay-footer-tpl');

            function getTemplate(id) {
                return _.template($(id).html())
            }

            function openEditOverlay(data) {
                overlay.setHeader(editHeaderTpl(data));
                overlay.setContent(contentTpl(data));
                overlay.setFooter(editFooterTpl(data));
                overlay.open();
            }

            function openCreateOverlay() {
                var data = {
                    name: null,
                    quantity: null,
                    value: null
                }
                overlay.setHeader(createHeaderTpl(data));
                overlay.setContent(contentTpl(data));
                overlay.setFooter(createFooterTpl(data));
                overlay.open();
            }

            var editBtns = $('.edit-exercise');

            editBtns.on('click', function() {
                openEditOverlay($(this).data());
            });

            var addBtn = $('.add-btn');

            addBtn.on('click', function(e) {
                openCreateOverlay();
            });

            function DepositForm(form, bus) { 
                this.form = $(form); 
                this.button = this.form.find('button'); 
                this.bus = $(bus); this.initEvents(); 
            } 

            DepositForm.prototype = { 

                initEvents: function() { 
                    this.form.on('submit', $.proxy(this.onSubmit, this)); 
                }, 

                onSubmit: function(e) { 
                    e.preventDefault(); 
                    this.displayWait(); 
                    this.postRequest();
                }, 

                postRequest: _.throttle(function() {
                    var req = $.ajax({ 
                        type: 'post', 
                        dataType: 'json', 
                        url: this.form.attr('action'), 
                        data: this.form.serialize() 
                    }); 
                    req.done($.proxy(this.onDone, this)); 
                    req.fail($.proxy(this.onFail, this)); 
                }, 300),

                displayWait: function() { 
                     this.button.addClass('waiting'); 
                }, 

                displayReady: function() { 
                     this.button.removeClass('waiting'); 
                }, 

                onDone: function(result) {
                    var newBalance = result.balance;
                    // TODO make this a  little more robust
                    this.bus.trigger('new-balance', newBalance);
                    this.displayReady();
                },

                onFail: function(e) {
                    this.displayReady();
                }

            }
            
            $('.deposit-form').each(function(index, elem) {
                new DepositForm(elem, document.body);
            });

            $(document.body).on('new-balance', function(e, balance) {
                $('.balance-amount').html(balance);
            });

            function confirmOnDelete (e) {
                var result = confirm('In the future, this will allow editing, but now, clicking ok will delete.');
                if (!result) {
                    e.preventDefault();
                }
            }

            var deleteExerciseForms = $('.delete-exercise-form');
            deleteExerciseForms.on('submit', confirmOnDelete)
        
        })()

    </script>
{% endblock %}
