{% extends "base.html" %}

{% block inner_content %}

    {% if user.exercises %}
    <section class="stats">

        <section class="balance {% if user.balance > 0 %}positive{% else %}negative{% endif %}">
            <label>Balance</label>
            <p><span class="balance-amount">{{ user.balance }}</span> <span class="small">pts</span></p>
        </section>

        <section class="streak">
            <label>Current Streak</label>
            <p>{{ user.streak }} <span class="small">days</span></p>
        </section>

        <section class="longest_streak wide">
            <label>Longest Streak</label>
            <p>{{ user.longest_streak }} <span class="small">days</span></p>
        </section>

    </section>
    {% endif %}

    <section class="table-container" >
        <section class="table exercise-table">
            <header>
                <div class="cell description">description</div>
                <div class="cell value">log</div>
            </header>
            <section class="table-body">
                {% for exercise in user.exercises %}
                <div class="cell description">
                    {{ exercise.name }}
                    <form class="delete-exercise-form" method="post" action="/user/{{user._id}}/exercise/{{exercise.eid}}/delete">
                        <button class="link"><i class="icon-pencil"></i></button>
                    </form>
                </div>
                <div class="cell value">
                    <form class="deposit-form" method="post" action="/user/{{user._id}}/deposit/{{exercise.value}}">
                        <button class="deposit ready">
                            {{ exercise.value }}
                            <i class="ready icon-ok"></i>
                            <i class="waiting icon-spinner2 animate-spin"></i>
                        </button>
                    </form>
                </div>
                {% endfor %}
            </section>
            <footer {% if not user.exercises %} class="open" {% endif %}>
                <div class="add-btn-row">
                    <div class="cell">&nbsp;</div>
                    <div class="cell">
                        <button class="primary-btn add-btn">New Exercise</button>
                    </div>
                </div>
                <form id="add-form" method="post">
                    <div class="cell">
                        <label>Description</label>
                        <input name="name" type="text" placeholder="e.g. 25 Pull-ups" />
                    </div>
                    <div class="cell">
                        <label>Value</label>
                        <div>
                            <input name="value" type="number" placeholder="e.g 20" />
                            <button class="primary-btn">Add</button>
                        </div>
                    </div>
                </form>
            </footer>
        </section>
    </section>
{% endblock %}

{% block page_scripts %}

    <script>

        (function() {
            function DepositForm(form, bus) { 
                this.form = $(form); 
                this.button = this.form.find('button'); 
                this.bus = $(bus); this.initEvents(); 
            } 

            DepositForm.prototype = { 

                initEvents: function() { 
                    this.form.on('submit', $.proxy(this.onSubmit, this)); 
                }, 

                onSubmit: function(e) { 
                    e.preventDefault(); 
                    this.displayWait(); 
                    this.postRequest();
                }, 

                postRequest: _.throttle(function() {
                    var req = $.ajax({ 
                        type: 'post', 
                        dataType: 'json', 
                        url: this.form.attr('action'), 
                        data: this.form.serialize() 
                    }); 
                    req.done($.proxy(this.onDone, this)); 
                    req.fail($.proxy(this.onFail, this)); 
                }, 300),

                displayWait: function() { 
                     this.button.addClass('waiting'); 
                }, 

                displayReady: function() { 
                     this.button.removeClass('waiting'); 
                }, 

                onDone: function(result) {
                    var newBalance = result.balance;
                    // TODO make this a  little more robust
                    this.bus.trigger('new-balance', newBalance);
                    this.displayReady();
                },

                onFail: function(e) {
                    this.displayReady();
                }

            }
            
            $('.deposit-form').each(function(index, elem) {
                new DepositForm(elem, document.body);
            });

            $(document.body).on('new-balance', function(e, balance) {
                $('.balance-amount').html(balance);
            });

            var addBtn = $('.add-btn');
            var footer = $('.exercise-table footer');
            addBtn.on('click', function(e) {
                footer.addClass('open');
            });

            function confirmOnDelete (e) {
                var result = confirm('In the future, this will allow editing, but now, clicking ok will delete.');
                if (!result) {
                    e.preventDefault();
                }
            }

            var deleteExerciseForms = $('.delete-exercise-form');
            deleteExerciseForms.on('submit', confirmOnDelete)
        
        })()

    </script>
{% endblock %}
