{% extends "base.html" %}

{% block inner_content %}
<h1 class="title">Exercredit</h1>
<h2 class="sub-title">A simple way to start exercising and building healthy habits</h2>

<div id="intro">

    SendGrid

    <h3>How it Works</h3>
    <p>Create a workout of favorite exercises and assign them a value.</p>

    <div class="example well">
        <section class="table ex-table">
            <section class="table-body">
                <div class="display-row">
                    <div class="cell description">
                        50
                        Sit Ups
                        <button 
                            class="edit-exercise link">
                            <i class="icon-pencil"></i>
                        </button>
                    </div>
                    <div class="cell value">
                        <form class="deposit-form" />
                            <button class="deposit ready">
                                20
                                <i class="ready icon-flash-1"></i>
                                <i class="waiting icon-spinner2 animate-spin"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="display-row">
                    <div class="cell description">
                        25
                        Push Ups
                        <button 
                            class="edit-exercise link">
                            <i class="icon-pencil"></i>
                        </button>
                    </div>
                    <div class="cell value">
                        <form class="deposit-form" />
                            <button class="deposit ready">
                                25
                                <i class="ready icon-flash-1"></i>
                                <i class="waiting icon-spinner2 animate-spin"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <p>You start with a balance of 0 points. Every night, we deduct 100.</p>
    <p>Do one of your exercises and log it to earn points against your balance.</p>
    <p>If you keep a positive balance, you're on a streak. Fall below 0 and you break it.</p>
    <p>Every night we'll send you an email to remind you.</p>

</div>

<div class="sign-up-section">
    <h3>No password. No account. Sign up with your email.</h3>

    {% include 'errors.html' %}

    <form class="sign-up well" action="" method="POST">
        <input name="email" value="" type="email" placeholder="fdracula@example.com" />
        <button>Sign Up</button>
    </form>
    <p class="small">We will email you. Every night. But don't worry, we'll never share your email with anyone.</p>
</div>

{% endblock %}
