{% extends "base.html" %}

{% block inner_content %}
<h1 class="title">Excercredit</h1>
<h2 class="sub-title">A simple way to start excercising and building healthy habits</h2>
<p>Create a workout of favorite excercises and assign them a value.</p>
<p>Everyday you owe 100 points. We send you an email with your balance.</p>
<p>Complete excercises to earn points against your balance.</p>

<form class="sign-up" action="" method="POST">
    <input name="email" value="" type="email" placeholder="fdracula@example.com" />
    <button>Sign Up</button>
</form>
{% endblock %}
