<div id="content" style="font-family: Helvetica, Arial, sans-serif;color: white;margin: auto 0;max-width: 600px;">
<h1 class="salutation" style="padding: 20px;margin: 0;background-color: #16a085;text-align: center;">
Welcome to Exercredit!
</h1>
<h2 class="body-header" style="padding: 20px;margin: 0;background: #ecf0f1;color: #2c3e50;text-align: center;">How it works:</h2>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
<p style="margin: 0;padding: 10px 20px;">You add a few exercises you like to do and assign them a point value.</p>
<p style="margin: 0;padding: 10px 20px;">You start with 0 points. Each time you do an exercise, load up exercredit and log it by clicking its point value.</p>
<p style="margin: 0;padding: 10px 20px;">In the wee hours of the morning. We check your balance. If you are at or above 0 points, great job--you're on a streak.</p>
<p style="margin: 0;padding: 10px 20px;">Then we deduct 100 points from your balance, and you'll have to do more exercises to get back above 0 to stay on your streak.</p>
</div>
<h2 class="body-header" style="padding: 20px;margin: 0;background: #ecf0f1;color: #2c3e50;text-align: center;">How much is an exercise worth?</h2>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
<p style="margin: 0;padding: 10px 20px;">Its worth whatever you think its worth. We think of it this way: How many times would you have to do this exercise to make you feel good at the end of the day.</p>
<p style="margin: 0;padding: 10px 20px;">If you made the exercise <span class="example">10 Push Ups</span> and you'd be proud of having done 50 push ups a day, you'd make this exercise worth 20 points.</p>
<p style="margin: 0;padding: 10px 20px;">Don't worry too much about it at first. Go with your gut. You can change an exercise at any time. If one is too easy, add to its quantity or reduce points.</p>
</div>
<h2 class="body-header" style="padding: 20px;margin: 0;background: #ecf0f1;color: #2c3e50;text-align: center;">What prevents me from logging exercises I didn't do?</h2>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
<p style="margin: 0;padding: 10px 20px;">Nothing. You're only cheating yourself.</p>
</div>
<h2 class="body-header" style="padding: 20px;margin: 0;background: #ecf0f1;color: #2c3e50;text-align: center;">What is my password? How do I sign in?</h2>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
<p style="margin: 0;padding: 10px 20px;">There is no password. This means anyone with the url to your Exercredit page can view your information. We don't consider this a problem. First, the url is pretty much unguessable. Second, there's nothing really private there.</p>
<p style="margin: 0;padding: 10px 20px;">However, if you're not comfortable with that, Exercredit is not for you.</p>
</div>
<h2 class="body-header" style="padding: 20px;margin: 0;background: #ecf0f1;color: #2c3e50;text-align: center;">How am I supposed to remember this url?</h2>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
<p style="margin: 0;padding: 10px 20px;">You're not. You can get to the page by clicking the link at the bottom of this email, a button in your daily email. You can bookmark the page on your desktop computer or phone.</p>
<p style="margin: 0;padding: 10px 20px;">If you're using a phone, we recommend you add the page your homescreen. It's easy to do and makes Exercredit look like any other app you might install from the App store.</p>
<p style="margin: 0;padding: 10px 20px;"><a href="http://www.gottabemobile.com/2013/11/23/save-website-shortcut-ios-7-home-screen/" style="text-decoration: none;color: #2980b9;">Add to iPhone homescreen</a>.</p>
<p style="margin: 0;padding: 10px 20px;"><a href="http://www.pcadvisor.co.uk/how-to/google-android/3447950/add-bookmarks-home-screen-in-android/" style="text-decoration: none;color: #2980b9;">Add to Android homescreen</a>.</p>
</div>
<div class="body-part" style="background: #ecf0f1;color: #2c3e50;text-align: center;">
    <h2 class="go-log" style="padding: 20px;margin: 0;background: #e67e22;"><a href="www.exercredit.com/user/{{ user_id }}/exercises" style="text-decoration: none;color: white;">Go Log Some Exercise!</a></h2>
</div>
</div>
