#content {
    position: absolute;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#frame {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

#modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 10px;
    -webkit-transform: translateX(100%);
    -webkit-transition: -webkit-transform .3s;
}

#modal.active {
    -webkit-transform: translateX(0);
}

#modal .close {
    float: left;
    font-size: 18px;
    padding: 7px 7px 7px 0;
    vertical-align: middle;
    border-right: 1px solid #ecf0f1;
    margin-right: 10px;
}

.modal-title {
    margin: 0px;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 7px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.inline {
    display: inline;
}

input.basic {
    display: block;
    outline: none;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.wide {
    width: 100%;
}


.logo {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    width: 16px;
    height: 22px;
}

.logo .bar {
    position: absolute;
    left: 8px;
    top: 1px;
    height: 26px;
    width: 2px;
    background: white;
}

header {
    position: fixed;
    background: #2980b9;
    color: white;
    width: 100%;
    max-width: 600px;
    height: 60px;
}

.inner-header {
    padding: 16px;
}

header h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

header .logo {
    float: left;
}

header .balance {
    float: right;
    border: 1px solid white;
    border-radius: 3px;
    padding: 7px;
    font-weight: bold;
}

.body-wrapper {
    margin-top: 60px;
    position: absolute;
    width: 100%;
    background: #2c3e50;
    top: 0;
    bottom: 0;
}

#body {
    -webkit-transition: -webkit-transform .2s;
    background: white;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

#body.receding {
    -webkit-transform: scale(0.8);
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -webkit-perspective-origin: 50% 50%;
}

.main-nav {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #bdc3c7;
}
.main-nav .tab {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    padding: 12px;
}

.main-nav .tab.active {
    font-weight: bold;
}

.active-indicator {
    width: 50%;
    height: 3px;
    background: #8FE6FF;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: left .3s;
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panels {
    overflow: hidden;
}

.panel-wrapper {
    overflow: hidden;
}

.panel {
    display: block;
    float: left;
}

.exercises {}

.exercises .exercise {
    overflow: hidden;
    padding: 14px 10px;
    border-bottom: 1px solid #ecf0f1;
}

.exercise .description {
    float: left;
}

.exercise .deposit {
    float: right;
}

.exercise-panel footer {
    padding: 10px;
    text-align: center;
}

button {
    border-radius: 3px;
    border: 1px solid;
    background-color: transparent;
    padding: 10px;
}

button.action {
    color: #2980b9;
}

button.danger {
    color: #e74c3c;
}

.name {
    font-weight: bold;
    margin-left: 7px;
}

.icon {
    color: #eee;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.stats-section {
    padding: 14px 10px;
    margin-bottom: 20px;
}

.stats-section h2 {
    font-size: 16px;
    border-bottom: 1px solid #ecf0f1;
    padding: 3px 0;
}

.stats-value {
    margin-left: 10px;
}

.stats-item {
    margin-bottom: 10px;
}

.loading-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: #f1c40f;
    -webkit-transform: translateX(-100%);
}

@-webkit-keyframes loading-one {
    0%   { -webkit-transform: translateX(-100%); }
    25%  { -webkit-transform: translateX(-78%); }
    75%  { -webkit-transform: translateX(-14%); }
    100% { -webkit-transform: translateX(-5%); }
}

@-webkit-keyframes loading-done {
    0%   { -webkit-transform: translateX(0%); }
    100%  { -webkit-transform: translateX(0%); }
}


.loading-bar.loading-one {
    -webkit-animation: loading-one 4s;
}

.loading-bar.loading-done {
    -webkit-animation: loading-done .2s;
}

@-webkit-keyframes balance-update-pop {
    0%   { -webkit-transform: scale(1); }
    20%  { -webkit-transform: scale(1.2); }
    40%  { -webkit-transform: scale(1); }
    60%  { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes balance-update-wave {
    50%  { -webkit-transform: translateY(-5px); }
    60%  { -webkit-transform: translateY(-5px) rotate(7deg); }
    70%  { -webkit-transform: translateY(-5px) rotate(-7deg); }
    80%  { -webkit-transform: translateY(-5px) rotate(7deg); }
    90%  { -webkit-transform: translateY(-5px) rotate(-7deg); }
    100%  { -webkit-transform: translateY(0) rotate(0); }
}

.balance.update {
    -webkit-animation: balance-update-wave .7s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-transform-origin: 50% 100%;
}



















.table .delete-exercise-form {
    display: inline;
}

.exercise-list .deposit {
    color: #ecf0f1;
    background: #27ae60;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

#add-form .primary-btn {
    width: 100%;
    margin: 0 0 10px 0;
}


#delete-page .delete-btn {
    background: #e74c3c;
    color: #fff;
    float: left;
}

#delete-page .button, #delete-page button {
    margin: 0 5px 0 0;
    display: block
}

#delete-page .cancel-btn {
    background: #bdc3c7;
    float: left;
}

.delete-form-wrapper {
    margin: 0 auto;
    width: 50%;
}

.save {
    width: 50%;
    background-color: #27ae60;
    display: block;
    float: right;
}

.wide {
    width: 100%;
}

.exercise-overlay footer .delete {
    width: 30%;
    background-color: #e74c3c;
    display: block;
    float: left;
}

.flashes {
    border-radius: 3px;
    overflow: hidden;
    list-style-type: none;
    text-align: left;
    color: white;
    padding: 0;
    margin: 7px 0;
} 

.flashes.error {
    border: 1px solid #c0392b;
}

.flashes li {
    padding: 10px;
    border-bottom: 1px solid;
    background: #c0392b;
}

.flashes li:last-child {
    border: none;
}

@media (max-width: 768px) {

    .stats {
        font-size: 1rem;
    }
    .stats li {
        padding-right: 9px;
        margin-left: 8px
    }

    .stats .small {
        font-size: .8rem;
    }

    #add-form {
        overflow: hidden;
    }

    #add-form label {
        font-size: .8rem;
        margin: .3rem 0;
    }

    .delete-exercise-form button {
        line-height: 2.2rem;
    }

}

